In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('pizza_sales.csv')

In [3]:
df.head(15
        )

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,01-01-2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,01-01-2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,01-01-2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,01-01-2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,01-01-2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
5,6,2,thai_ckn_l,1,01-01-2015,11:57:40,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza
6,7,3,ital_supr_m,1,01-01-2015,12:12:28,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
7,8,3,prsc_argla_l,1,01-01-2015,12:12:28,20.75,20.75,L,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza
8,9,4,ital_supr_m,1,01-01-2015,12:16:31,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
9,10,5,ital_supr_m,1,01-01-2015,12:21:30,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
10,11,6,bbq_ckn_s,1,01-01-2015,12:29:36,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
11,12,6,the_greek_s,1,01-01-2015,12:29:36,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
12,13,7,spinach_supr_s,1,01-01-2015,12:50:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
13,14,8,spinach_supr_s,1,01-01-2015,12:51:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
14,15,9,classic_dlx_s,1,01-01-2015,12:52:01,12.00,12.00,S,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza

In [4]:
Total_revenue = df['total_price'].sum()
print(Total_revenue)

817860.05

In [5]:
orders_count = df['order_id'].nunique()
avg_revenue_per_order = Total_revenue / orders_count
print(avg_revenue_per_order)

38.30726229508197

In [6]:
total_pizza_sold = df['quantity'].sum()
print(total_pizza_sold)

49574

In [7]:
total_orders = df['order_id'].nunique()
print(total_orders)

21350

In [8]:
avg_pizza_per_order = total_pizza_sold / total_orders
print(avg_pizza_per_order)

2.321967213114754

In [9]:
df['order_date'] = pd.to_datetime(df['order_date'], dayfirst=True, errors='coerce')
df['day_name'] = df['order_date'].dt.day_name()

In [10]:
total_orders_per_days = df.groupby('day_name')['order_id'].nunique()
print(total_orders_per_days)

day_name
Friday       3538
Monday       2794
Saturday     3158
Sunday       2624
Thursday     3239
Tuesday      2973
Wednesday    3024
Name: order_id, dtype: int64

In [11]:
df['order_time'] = pd.to_datetime(df['order_time'], dayfirst=True, errors='coerce')
df['Hours'] = df['order_time'].dt.hour

C:\Users\arzag\AppData\Local\Temp\ipykernel_2640\2837759060.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['order_time'] = pd.to_datetime(df['order_time'], dayfirst=True, errors='coerce')

In [12]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,day_name,Hours
0,1,1,hawaiian_m,1,2015-01-01,2025-01-28 11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,Thursday,11
1,2,2,classic_dlx_m,1,2015-01-01,2025-01-28 11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,Thursday,11
2,3,2,five_cheese_l,1,2015-01-01,2025-01-28 11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,Thursday,11
3,4,2,ital_supr_l,1,2015-01-01,2025-01-28 11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,Thursday,11
4,5,2,mexicana_m,1,2015-01-01,2025-01-28 11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,Thursday,11

In [13]:
total_orders_per_hours = df.groupby('Hours')['order_id'].nunique()
print(total_orders_per_hours)

Hours
9        1
10       8
11    1231
12    2520
13    2455
14    1472
15    1468
16    1920
17    2336
18    2399
19    2009
20    1642
21    1198
22     663
23      28
Name: order_id, dtype: int64

In [17]:
total_sales_per_category = df.groupby('pizza_category')['total_price'].sum()
ptc = total_sales_per_category * 100 / Total_revenue
print(total_sales_per_category)
print(ptc)

pizza_category
Chicken    195919.50
Classic    220053.10
Supreme    208197.00
Veggie     193690.45
Name: total_price, dtype: float64
pizza_category
Chicken    23.955138
Classic    26.905960
Supreme    25.456311
Veggie     23.682591
Name: total_price, dtype: float64

In [18]:
total_sales_per_pizza_size = df.groupby('pizza_size')['total_price'].sum()
ptc = total_sales_per_pizza_size * 100 / Total_revenue
print(total_sales_per_pizza_size)
print(ptc)

pizza_size
L      375318.70
M      249382.25
S      178076.50
XL      14076.00
XXL      1006.60
Name: total_price, dtype: float64
pizza_size
L      45.890333
M      30.492044
S      21.773468
XL      1.721077
XXL     0.123077
Name: total_price, dtype: float64

In [16]:
total_quantity_sold_per_category = df.groupby('pizza_category')['quantity'].sum()
ptc = total_quantity_sold_per_category * 100 / Total_revenue
print(total_quantity_sold_per_category)
print(ptc)

pizza_category
Chicken    11050
Classic    14888
Supreme    11987
Veggie     11649
Name: quantity, dtype: int64
pizza_category
Chicken    1.351087
Classic    1.820360
Supreme    1.465654
Veggie     1.424327
Name: quantity, dtype: float64

In [17]:
total_quantity_sold_per_pizza_size = df.groupby('pizza_size')['quantity'].sum()
ptc = total_quantity_sold_per_pizza_size * 100 / Total_revenue
print(total_quantity_sold_per_pizza_size)
print(ptc)

pizza_size
L      18956
M      15635
S      14403
XL       552
XXL       28
Name: quantity, dtype: int64
pizza_size
L      2.317756
M      1.911696
S      1.761059
XL     0.067493
XXL    0.003424
Name: quantity, dtype: float64

In [26]:
top_5_pizza_per_sales = df.groupby('pizza_name')['quantity'].sum().sort_values(ascending=False)
print(top_5_pizza_per_sales.head(5))

pizza_name
The Classic Deluxe Pizza      2453
The Barbecue Chicken Pizza    2432
The Hawaiian Pizza            2422
The Pepperoni Pizza           2418
The Thai Chicken Pizza        2371
Name: quantity, dtype: int64

In [27]:
top_5_pizza_per_sales = df.groupby('pizza_name')['quantity'].sum().sort_values(ascending=True)
print(top_5_pizza_per_sales.head(5))

pizza_name
The Brie Carre Pizza         490
The Mediterranean Pizza      934
The Calabrese Pizza          937
The Spinach Supreme Pizza    950
The Soppressata Pizza        961
Name: quantity, dtype: int64